# ===== Python =====
__pycache__/
*.py[cod]
.pytest_cache/

# ===== Virtual Environment =====
venv/

# ===== MLflow =====
mlflow.db
mlruns/

# ===== Jupyter =====
.ipynb_checkpoints/

# ===== Data =====
data/
*.csv

# ===== Models / Artifacts =====
models/
*.pkl

# ===== Cache =====
.CACHEDIR.TAG

# ===== OS =====
.DS_Store